<%- include("header2") -%>
	<div class="container">
		<div class="password-box form-inline">
			<form action="/changePassword" method="POST">
				<label class="change-password-label">Current Password:</label>
				<input class="change-password-input" type="password" name="oldpassword" minlength="3" maxlength="15" required>
				<label class="change-password-label">New Password:</label>
				<input class="change-password-input" type="password" name="newpassword" minlength="3" maxlength="15" required>
				<input type="hidden" name="currentPass">
				<button type="submit">Confirm</button>
			</form>
			<% if(changedPassword){ %>
			<span><p class="password-feedback">Password has been changed successfully</p></span>
		<% } else if(failedAttempt){ %>
					<span><p class="password-feedback">INCORRECT PASSWORD, TRY AGAIN</p></span>
				<% } %>
		</div>
	</div>
<%- include("footer") -%>