<!DOCTYPE html>
<html>
<head>
	<script src="https://kit.fontawesome.com/58ff903b9e.js"></script>
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<link rel="icon" href="https://img.icons8.com/material/24/000000/checklist.png">
	<link href="https://fonts.googleapis.com/css?family=Nunito|Prata&display=swap" rel="stylesheet">
	<link id="styles" rel="stylesheet" type="text/css" href="/css/darkmode.css">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<title>Welcome</title>
</head>
<body>