<!DOCTYPE html>
<html>
   <head>
      <meta content="width=device-width, initial-scale=1" name="viewport" />
      <link rel="icon" href="https://img.icons8.com/material/24/000000/checklist.png">
      <script src="https://kit.fontawesome.com/58ff903b9e.js"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <link href="https://fonts.googleapis.com/css?family=Nunito|Prata&display=swap" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="/css/styles3.css">
      <script type="text/javascript" src="/js/index.js"></script>
      <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
      <title>My Account</title>
   </head>
   <body>