<%- include("header2") -%>

			<div class="password-box form-inline">
				<form action="/new-password" method="POST" class="form-password">
					<label class="reset-password-label">New Password:</label>
					<input class="reset-password-input" type="password" name="password" placeholder="password" minlength="5" maxlength="15" required>
					<input type="hidden" name="userId" value=<%=userId%>>
					<button type="submit" id="passwordButton">Change Password</button>
				</form>
			</div>
<%- include("footer") -%>