<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="script.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<title>Welcome!</title>
</head>
<body>
		<form action="/testroute" method="POST">
			<input type="text" name="testName" placeholder="Name">
			<input type="password" name="testPasword" placeholder="testPassword">
			<input type="submit" name="Submit">
		</form>
</body>
</html>