<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Nunito|Prata&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/styles3.css">
	<title>Reset Password</title>
</head>
<body>

	<div class="container">
		<nav>
		    <ul>
		        <li><button class="nav-buttons" id="button-1"><a href="/">HOME</a></button></li>
		    </ul>
		</nav>

		<div class="password-box form-inline">
			<form action="/verify-user" method="POST" class="form-password">
				<label>Username:</label>
				<input type="text" name="username" autocomplete="off" placeholder="username" required>
				<label>Security Question:</label>
				<select name="question" id="question-field" required>
					<option value="">Choose YOUR security question:</option>
		  			<option value="question1">What is your dream vacation?</option>
		  			<option value="question2">What is your dream car?</option>
				</select>
				<label>Answer:</label>
				<input type="text" name="answer" autocomplete="off" placeholder="answer" required>
				<% if(error === "1"){ %>
				<span><p class="authFailed">User does not exist, please try again.</p></span>
			<% } else if (error === "2"){ %>
				<span><p class="authFailed">Security Q&A did not match.  Try again.</p></span>
			<% } %>

				<button type="submit">Submit</button>
			</form>
		</div>


	</div>

</body>
</html>